body {
  font-family: "Marker Felt", fantasy;
  margin: 0;
  padding: 0;
}

.homeContainer {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.homeContent {
  background-image: url('./assets/capa.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.encouragementText {
  font-size: 1.25rem;
  color: #627077;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8s ease;

}

.encouragementText.hidden {
  opacity: 0;
}

.homeControls {
  display: flex;
  justify-content: center;
  margin: 0;
}

.imageButton {
  background: none;
  border-width: 2px;
  border-style: dotted;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}


.homeTimer {
  font-size: 60px;
  color: #db5656;
  margin: 0;
}


.homeButton {
  background: none;
  border-width: 2px;
  border-style: dotted;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}


.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border-width: 2px;
  border-style: dotted;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}
